
{% extends 'main.html' %}

{% block tab_content %}
{{object.title}}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md card mb-4  mt-3 left top shadow">
      <div class="card-body">
        <!-- Title -->
       <h1 class="mt-4">About</h1>
       <hr>
       <!-- Post Content -->
       <p class="lead">I called myself Rookie. Cause I'm still too young to think correctly. </p>
       <p>I still have so much to learn about life. And this is where I'll be posting about my journey.</p>
       <a href="https://lh3.googleusercontent.com/GUhCxsF4CS_UZt3K8SqS9dCNTtlxXEHgdtSUkX49dJKVMJ-9NZ2zuKD4yyPPFT6cU9O5lgfDGOUfMQ3SL3KesRfBhyD_0L6IX-ui0wNtxT2ioZ1Ib7BtFSS_Rze7maUror4ZmjRqTg=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/GUhCxsF4CS_UZt3K8SqS9dCNTtlxXEHgdtSUkX49dJKVMJ-9NZ2zuKD4yyPPFT6cU9O5lgfDGOUfMQ3SL3KesRfBhyD_0L6IX-ui0wNtxT2ioZ1Ib7BtFSS_Rze7maUror4ZmjRqTg=w600-h315-p-k" /> </a>
       <br> <br>
       <h3> <a href="https://facebook.com/RealRookie001">Facebook</a> | <a href="https://instagram.com/realrookie001">Instagram</a> </h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
