{% extends "main.html" %}
{% block tab_content %}
Home
{% endblock %}

{% block content %}
<style>
    body {
        font-family: "Merriweather Sans", sans-serif;
        font-size: 16px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="jumbotron text-white" 
     style=
     "background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
  <h1>Rookie's Secret Sanctuary.</h1>
  <h4>Where Facebook is not a safe place for my stuffs.</h4>
  <p><small>Photo by <a href="https://unsplash.com/photos/1l2ZSKCMDio"> Alex Dukhanov</a> on <a href="https://unsplash.com">Unsplash.</a></small></p>
</div>

<div class="container" style="font-family: 'Titillium Web', sans-serif;">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.created_on}} </p>
                    <p class="card-text">{{post.subtitle}}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{%endblock%}
